{% extends "base_admin.html.twig" %}
{% block content %}

  <div class="main-content">

<div class="page-content">
<div class="container-fluid">
<div class="row">
    <div class="col-12">
     <div class="page-title-box d-sm-flex align-items-center justify-content-between">
       <h4 class="mb-sm-0 font-size-18">Modifier Mot De Passe</h4>

         </div>
          </div>
         </div>
  
                                                  
<form method="POST" action="{{path('app_admin_pwd')}}">
          
            

             <div class=" mb-3">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">nouveau mot de passe</label>
                   <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" id="horizontal-firstname-input" placeholder="nouveau mot de passe" required>
                 </div>
               </div>

                <input type="hidden"
                      class="form-control" name="id" id="" value="{{app.user.id}}" aria-describedby="helpId" placeholder="">
                            
            <div>
               <button type="submit" class="btn btn-primary w-md">modifier</button>
            </div>
                                                               
            
             
            
        
        <form>
 </div>



</div>

</div>



{% endblock %}